<!DOCTYPE html>
<html>
<head>
	<title>test</title>
</head>
<body>
Connect to server:
<%= server %><br>
Thing: <%= Object.keys(things).length %>
<br><br>
<% Object.keys(things).forEach(function(id) { %>
ID: <%= things[id].id %>
RX: <%= things[id].rx %>
TX: <%= things[id].tx %>
Seq: <%= things[id].lastSeq %>
LastAct: <%= new Date(things[id].lastActive).toISOString() %>
Rssi: <%= things[id].lastRssi %>
Loss: <%= things[id].lossPacket %>
<br>

<% }); %>

</body>
</html>